:root {
    --bright: #fe6148;
    --dark: #1c191c;
    
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;

    width: 1px;
    height: 1px;
   
    overflow: hidden;
}


body {
    margin: 0;
    font-size: 16px;
    color: white;
    background-color: #000000;
}

h1 {
    font-size: 2em;
    margin: 0;
}

button {
    background-color: var(--dark);
    text-transform: uppercase;
    border: none;
    color: var(--bright);
    padding: 10px;
}

nav {
    /* -20 px for padding later */
    width: calc(100%-20px);
    height: 55px;
    background-color: var(--bright);
    box-shadow: 0px 2px 1px #471b14;

    padding: 0px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 15px;
}


header {
    margin:auto; 
    width: calc(100% - 24px);
    border: 0.8px solid var(--bright);
    color: white;
    text-transform: uppercase;
    min-height: 92px;
    

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;

    gap: 20px;

}
@media (orientation: portrait) {
    header {
        flex-wrap: wrap;
    }
}

header >:not(svg) {
    flex: 1;
}
header > span {
    flex-basis: 35%;
}
header h2 {
    color: var(--bright);
    margin: 0;
    margin-bottom: 10px;
}
header svg {
    fill: var(--bright);
    width: auto;
    height: 80%;
    min-width: 40px;
    max-height: 92px;
}
header img {
    flex-basis: 45%;
    border: 1px solid white;
    max-width: 100%;
}