:root {
    --bright: #fe6148;
    --dark: #1c191c;
}


body {
    margin: 0;
    font-size: 16px;
}

h1 {
    font-size: 2em;
    margin: 0;
}

button {
    background-color: var(--dark);
    text-transform: uppercase;
    border: none;
    color: var(--bright);
    padding: 10px;
}

header {
    /* -20 px for padding later */
    width: calc(100%-20px);
    height: 55px;
    background-color: var(--bright);
    box-shadow: 0px 2px 1px #471b14;

    padding: 0px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
